image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.hero-contianer {
    background: url('images/splendi_shirt_1.jpeg') center center/cover
    no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}